<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>
<body>
<ul class="nav" id="nav">
    <li id="tab0" class="tab active">Породы кошек</li>
    <li id="tab1" class="tab">Породы собак</li>
    <li id="tab2" class="tab">Породы рыси</li>
</ul>

<div class="tab_content active" id="tab_content0">

    <div id="cat1">
        <div class="toggle toggle_active" id="toggle0">Абиссинская кошка</div>
        <div class="content content_active" id="content0">
            <p>Неугомонная абиссинская кошка жить не может без внимания хозяина. Она будет бегать за ним во время
                уборки, помогать набирать текст на клавиатуре, обязательно попробует самостоятельно открыть дверь
                комнаты и, конечно, уложит его вещи так, как считает нужным. И сама заберется сверху. В общем, если в
                вашем доме поселилась задорная абиссинка, забудьте о степенном возлежании на диване. Лучше запаситесь
                игрушками.
            </p>

            <div class="img">
                <img src="http://www.zoopicture.ru/assets/2014/09/12833908543_bbc6bf0e6f_z.jpg">
                <img src="http://www.zoopicture.ru/assets/2014/09/4761152358_5cd7951fb1_z.jpg">
                <img src="http://www.zoopicture.ru/assets/2014/09/4708305745_25700b2dde_z.jpg">
                <img src="http://www.zoopicture.ru/assets/2014/09/2055796160_288a013ae2_z.jpg">
            </div>
        </div>
    </div>
    <div id="cat2">
        <div class="toggle" id="toggle1">Оцикет</div>
        <div class="content" id="content1">
            <p>Оцикеты – абсолютно домашние существа, внешне очень напоминающие диких кошек, но не имеющие ни капли
                «дикой» крови. Они интересны тем, что, будучи окрашенными как дикая кошка, обладают темпераментом кошки
                домашней. Свое название порода получила из-за сходства с оцелотом, хищником из семейства кошачьих.
            </p>

            <div class="img">
                <img src="http://www.zoopicture.ru/assets/2011/02/IMG_6902.jpg">
                <img src="http://www.zoopicture.ru/assets/2011/02/IMG_2885_.jpg">
                <img src="http://www.zoopicture.ru/assets/2011/02/IMG_4635.jpg">
                <img src="http://www.zoopicture.ru/assets/2011/02/IMG_2892_.jpg">
            </div>
        </div>
    </div>
    <div id="cat3">
        <div class="toggle" id="toggle2">Саванна</div>
        <div class="content" id="content2">
            <p>Ровно четверть века назад, в апреле 1986 года, на свет появился первый котенок, положивший начало самой
                крупной породе домашних кошек – Саванне. Целью основателя породы, заводчика бенгальских кошек Джуди
                Фрэнка из Пенсильвании, стало выведение домашнего питомца, сочетавшего в себе экзотическую внешность
                дикой кошки и покладистый и неприхотливый характер кошки домашней.
            </p>

            <div class="img">
                <img src="http://www.zoopicture.ru/assets/2011/09/436357347838.jpg">
                <img src="http://www.zoopicture.ru/assets/2011/09/4915235977_9d02a483b4.jpg">
                <img src="http://www.zoopicture.ru/assets/2011/09/4076712071_90c3b10175_b.jpg">
                <img src="http://www.zoopicture.ru/assets/2011/09/4099542565_1610fa84d8.jpg">
            </div>
        </div>
    </div>
</div>

<div class="tab_content" id="tab_content1">
    <div id="dog1">
        <div class="toggle toggle_active" id="toggle3">Бассет-хаунд</div>
        <div class="content content_active" id="content3">
            <p>Невозможно не обратить внимания, если мимо на коротких ножках важно шествует или резво бежит
                бассет-хаунд.
                Внешность его курьёзна: кажется, этой собаке достались части тела от нескольких разных пород. Выражение
                морды всегда умильное и меланхолическое. На родине бассета в Англии его в шутку сравнивают с пожилым
                джентльменом, который забыл подтянуть брюки.
            </p>

            <div class="img">
                <img src="http://www.zoopicture.ru/assets/2011/08/4996709868_c947eea2a6.jpg">
                <img src="http://www.zoopicture.ru/assets/2011/08/5887949422_6a8971bbd2.jpg">
                <img src="http://www.zoopicture.ru/assets/2011/08/4951417417_9d3d3ddc09.jpg">
                <img src="http://www.zoopicture.ru/assets/2011/08/5582189043_b282ca0e69.jpg">
            </div>
        </div>
    </div>
    <div id="dog2">
        <div class="toggle" id="toggle4">Бигль</div>
        <div class="content" id="content4">
            <p>Обаятельные и добродушные, подвижные и шаловливые, преданные и сообразительные – таковы собаки породы
                бигль,
                присутствие которых скрашивает земной путь человека со времен глубокой древности. Специалисты убеждены,
                что
                прародители современных биглей существовали еще в Древней Греции, где они успешно помогали охотиться
                славным
                эллинам.
            </p>

            <div class="img">
                <img src="http://www.zoopicture.ru/assets/2012/05/7112443233_35323220f7.jpg">
                <img src="http://www.zoopicture.ru/assets/2012/05/7063159059_2682eb89ea.jpg">
                <img src="http://www.zoopicture.ru/assets/2012/05/4975255889_f66af9520c.jpg">
                <img src="http://www.zoopicture.ru/assets/2012/05/6895987588_cb7363d909.jpg">
            </div>
        </div>
    </div>
    <div id="dog3">
        <div class="toggle" id="toggle5">Ирландский сеттер</div>
        <div class="content" id="content5">
            <p>Ирландское происхождение этих сеттеров считывается на раз-два: оно сквозит в гордости и независимости
                нрава,
                заявляет о себе благородством и выраженным чувством собственного достоинства, оглушительно кричит
                ярко-рыжим
                окрасом. Эту собаку называют иногда красный сеттер – за огненный оттенок шерсти. Характер «ирландцев»
                тоже
                полон огня, который удивительно бесконфликтно пламенеет на фоне свойственных красным псам
                респектабельности
                и аристократичности.
            </p>

            <div class="img">
                <img src="http://www.zoopicture.ru/assets/2012/06/6875351052_a8e1ce45a5.jpg">
                <img src="http://www.zoopicture.ru/assets/2012/06/4420176994_1e4acce2fc.jpg">
                <img src="http://www.zoopicture.ru/assets/2012/06/5089151993_709f56a8e4.jpg">
                <img src="http://www.zoopicture.ru/assets/2012/06/3252926175_3b1dc61a4d.jpg">
            </div>
        </div>
    </div>
</div>

<div class="tab_content" id="tab_content2">
    <div id="rys1">
        <div class="toggle toggle_active" id="toggle6">Пиренейская рысь</div>
        <div class="content content_active" id="content6">
            <p>Пиренейская рысь (лат. Lynx pardinus), называемая также испанской, иберийской или сардинийской, многими
                зоологами прежде рассматривалась как разновидность обыкновенной рыси. Но при значительном сходстве виды
                эти
                все же различны, да и эволюционировали они, как выяснилось, независимо один от другого – каждый по своей
                ветви. Среди самых явных отличий пиренейской рыси от собрата по семейству – размер («пиренейцы» мельче
                «евроазиатов»), а также более светлый фоновый окрас и выраженная пятнистость, что придает меху зверя
                сходство с леопардовой расцветкой.
            </p>

            <div class="img">
                <img src="http://www.zoopicture.ru/assets/2012/08/563737731893.jpg">
                <img src="http://www.zoopicture.ru/assets/2012/08/7461188708_048d7e6f6d_z.jpg">
                <img src="http://www.zoopicture.ru/assets/2012/08/6595916325_77e4b305b6_z.jpg">
                <img src="http://www.zoopicture.ru/assets/2012/08/6779284680_ab783310db_z.jpg">
            </div>
        </div>
    </div>
    <div id="rys2">
        <div class="toggle" id="toggle7">Канадская рысь</div>
        <div class="content" id="content7">
            <p>Вопреки названию, канадская рысь (лат. Lynx canadensis) обитает не только в Канаде, ее можно повстречать
                в
                различных районах североамериканской тайги – на Аляске, в лесных зонах штатов Айдахо, Монтана, Колорадо
                и
                Вашингтон. Климат в выбранных местах обитания достаточно суровый, и окрас рыси соответствует окружающему
                ландшафту, помогая животным оставаться незаметными на фоне среды.
            </p>

            <div class="img">
                <img src="http://www.zoopicture.ru/assets/2012/08/5715014868_f2ea6a5b51_z.jpg">
                <img src="http://www.zoopicture.ru/assets/2012/08/5454479907_4e2a3fc20f_z.jpg">
                <img src="http://www.zoopicture.ru/assets/2012/08/2850787262_3357b393a2_z.jpg">
                <img src="http://www.zoopicture.ru/assets/2012/08/4464643075_bf156dcbc7_z.jpg">
            </div>
        </div>
    </div>
    <div id="rys3">
        <div class="toggle" id="toggle8">Обыкновенная рысь</div>
        <div class="content" id="content8">
            <p>Трудно найти среди кошачьего племени более «северного» зверя, чем рысь (лат. Lynx lynx) – по некоторым
                данным, представители этого вида обитают даже за Полярным кругом. Видно, неспроста мудрая природа
                снабдила
                этих холодолюбивых кошек широкими лапами, низ которых с наступлением зимы обрастает длинной шерстью,
                растущей повсюду, даже в районе подушечек пальцев. Чем не лыжи? С такой «экипировкой» покрыть десяток
                километров по глубокому рыхлому снегу для рыси – пара пустяков. Всем прочим ландшафтам этот зверь
                предпочитает лесные пейзажи, в особенности – густую хвойную тайгу, где чаще всего его и можно
                повстречать.
            </p>

            <div class="img">
                <img src="http://www.zoopicture.ru/assets/2011/10/5846259814_acc2c0c146.jpg">
                <img src="http://www.zoopicture.ru/assets/2011/10/2885768192_fcded315a5.jpg">
                <img src="http://www.zoopicture.ru/assets/2011/10/2508536168_7b02c71eb5.jpg">
                <img src="http://www.zoopicture.ru/assets/2011/10/6234079781_c813b633e3.jpg">
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="../scripts/scripts.js"></script>
</html>